.root {
  padding-inline: 15px;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FCFCFC;
  opacity: 0.64;
}

.input {
  width: 100%;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #FCFCFC;
  background: none;
  outline: none;
  border: none;
}
