//.inputWrapper {
//  margin-bottom: 15px;
//}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #F1F1FA;
  border-radius: 16px;
  background: $white;
  color: $grey;
  outline-color: $grey;
}

.inputGroup {
  display: grid;
  row-gap: 15px;
}