.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  //background-image:url("data:image/svg+xml,%3Csvg width='375' height='70' viewBox='0 0 375 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M188 55C207.882 55 224 38.8823 224 19C224 17.0988 223.853 15.2321 223.569 13.4105C222.602 7.20823 226.711 0 232.988 0H367C371.418 0 375 3.58172 375 8V70H0V8C0 3.58172 3.58172 0 8 0H143.012C149.289 0 153.398 7.20824 152.431 13.4105C152.147 15.2321 152 17.0988 152 19C152 38.8823 168.118 55 188 55Z' fill='%23FCFCFC'/%3E%3C/svg%3E%0A");
//clip-path: circle(60px at center);
//  background-color: red;
  padding-inline: 30px;

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    gap: 30px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;

      svg {
        height: 34px;
      }

      svg path {
        fill: rgb(198, 198, 198);
      }

      a {
        text-align: center;
        color: $grey;
        text-decoration: none;
      }
    }

  }
}

.addAccountsWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}

.addAccounts {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: $violete;
  translate: 0 -40%;

  span {
    display: flex;
  }
}

.accountsList {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: '. transaction .'
                       'income . expense'
                       '. . .';
  width: 193px;
  height: 195px;

  a {
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    place-self: center;
  }
}

.addIncome {
  grid-area: income;
  background-color:#00A86B ;
}

.addExpense {
  grid-area: expense;
  background-color: #FD3C4A;
}

.addTransaction {
  grid-area: transaction;
  background-color: #0077FF;
}