.bottomPanel {
  padding: 24px 16px;
  background: #FFFFFF;
  border-radius: 32px 32px 0px 0px;
}

.topPanel {
  background: linear-gradient(183.33deg, #FFF6E6 9.56%, rgba(248, 237, 216, 0) 124.27%);
  border-radius: 0px 0px 32px 32px;
}
