.curtainBackdrop {
  position: absolute;
  inset: 0;
  width: 100% ;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-color: rgba(13, 14, 15, 0.16);
  z-index: -1;


  //&[data-isopen="true"] {
  //  z-index: 1;
  //  //background-color: rgba(13, 14, 15, 0.16);
  //}
}

.curtain {
  position: relative;
  //bottom: -100%;
  width: 100% ;
  padding: 32px 16px;
  background-color: $white;
  //translate: 0 100%;
  border-radius: 32px 32px 0px 0px;

  //[data-isopen="true"] & {
  //  translate: 0 0;
  //  z-index: 2;
  //}
}