.filtration {
  display: flex;
  margin-bottom: 20px;
}

.item {
  flex: 1;
  text-align: center;
  padding: 8px 24px;
  border-radius: 16px;
  color: $grey;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  border: none;
}

.item.active {
  background: #FCEED4;
  color: $yellow;
  font-weight: 700;
}