.recentTransactions {
  display: grid;
  gap: 7px;

}

.recentTransactionsBody {
  height: 200px;
  overflow-y: auto;
}

.recentTransactionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-inline: 16px;


  button {
    padding: 8px 16px;
    gap: 10px;
    background: #EEE5FF;
    color: $violete;
    border-radius: 40px;
    outline: none;
    border: none;
  }
}

.transactionItem {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  column-gap: 10px;
  padding: 14px 17px;
  background: #FCFCFC;
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .transactionPrice {
    &:before {
      margin-right: 5px;
    }
  }


  &.expense {
    .transactionPrice {
      color: $red;

      &:before {
        content: '-';
      }
    }
  }

  &.income {
    .transactionPrice {
      color: $green;

      &:before {
        content: '+';
      }
    }
  }
}

.transactionBody {

  h6 {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 19px;
    color: $black;
}

}

.transactionDescription {
  font-size: 13px;
  line-height: 16px;
  color: $grey;
  font-weight: 500;
}

.transactionMeta {

}

.transactionPrice {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.transactionTime {
  font-size: 13px;
  line-height: 16px;
  color: #91919F;
}