@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

$violete: #7F3DFF;
$transparent-violete: #E5E5E5;
$blue: #0077FF;
$red: #FD3C4A;
$white: #fff;
$black: #212325;

.button {
  display: block;
  padding: 17px;
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}
