@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

$violete: #7F3DFF;
$transparent-violete: #EEE5FF;
$blue: #0077FF;
$red: #FD3C4A;
$white: #fff;
$black: #212325;
$grey: #91919F;
$yellow: #FCAC12;
$transYellow: #FCEED;
$green: #00A86B;

.button {
  display: flex;
  padding: 17px;
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: $white;
  color: $black;
  &[disabled] {
    opacity: 0.6;
    cursor: auto;
  }

  &.violet {
    background: $violete;
    color: $white;
  }

  &.transViolet {
    background: $transparent-violete;
    color: $violete;
  }

  &.white {
    border: 1px solid #F1F1FA;
  }

  &:has(img) {
    gap: 13px;
  }

  img {
    width: 21px;
    height: 21px;
  }


}

body {
  font-family: 'Inter', sans-serif;
}

h4 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $black;
}

// {
//  -ms-overflow-style: none;  /* Internet Explorer 10+ */
//  scrollbar-width: none;  /* Firefox */
//}

::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
